<div class="my-8">
  <div class="text-2xl mb-8">
    ユーザー名：<%= @room.recipient_for(current_user).name %>とのDMルーム
  </div>
  <% if @messages.empty? %>
    <p>まだメッセージはありません。</p>
  <% end %>
  <% @messages.each do |message| %>
    <div class="my-8 <%= message.own_message?(current_user) ? 'text-right' : 'text-left' %>">
      <p class="mb-1">
        <strong><%= message.user.name %></strong>
        <span class="text-gray-500 text-sm"><%= message.created_at.to_fs %></span>
        <p class="mt-2"><%= message.content %></p>
      </p>
    </div>
  <% end %>
</div>
<div class="mt-24">
  <%= link_to "メッセージを作成", new_room_message_path(@room.id), class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded' %>
  <%= link_to "リストに戻る", rooms_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
</div>
