<div class="my-8">
  <div class="text-2xl mb-8">
    ユーザー名：<%= @room.recipient_for(current_user).name %>とのDMルーム
  </div>
  <% if @messages.empty? %>
    <p>まだメッセージはありません。</p>
  <% end %>
  <div id="messages">
    <% @messages.each do |message| %>
      <% @message = message%>
      <%= render partial: 'rooms/list' %>
    <% end %>
  </div>
</div>
<%= turbo_frame_tag 'new_message' %>
<div class="mt-24">
  <%= link_to "メッセージを作成", new_room_message_path(@room.id), class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded',
      data: {turbo_frame: 'new_message'} %>
  <%= link_to "リストに戻る", rooms_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
</div>
